body {
    margin:2%;
    font-size: 15pt;
}
p{
    margin-top: 0%;
    margin-bottom: 0%;
}
.minesweeperContainer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.topBar {
    position: relative;
    border: 3px solid black;
    width : 500px;
    height : 50px;
    background: darkgray;
    display: flex;
    align-items: center;
}
canvas{
    position: relative;
    border: 3px solid black;
}
.button{
    position: absolute;
    right:0;
}
#timer{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}